:root {
  --color-primary: #3C54B4;       /* Azul médio elegante */
  --color-secondary: #C653C2;     /* Magenta vibrante */
  --color-bg: #90ABDA;            /* Azul claro médio */
  --color-light: #94CCDB;         /* Azul claro acinzentado */
  --color-dark: #2E0F23;          /* Roxo escuro */
  --color-neutral: #ccc;

  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;

  --radius-sm: 6px;
  --radius-md: 10px;

  --shadow-md: 0 2px 6px rgba(46, 15, 35, 0.3);
}